
a {
	text-decoration:none !important;
}
p {
	margin-bottom: 0;
}
hr {
	border-width: 1px;
	border-color: #f1f1f1;
	margin: 0;
}
.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12 {
	padding:0;
}
.row {
	margin: 0;
}
.xbox-fullwidth {
	width:100%;
	margin: auto;
	padding-left:0px;
	padding-right:0px;
}
.xbox-nav {
	height:90px;
	line-height: 90px;
}
.xbox-nav a{
	color: #fff;
}

.vertical-center{
	display: flex;
	align-items: center;
}

.xbox-nav-span{
	margin-right:50px;
	margin-left:0px;
	font-size:18px;
}


.theme-bg-color {
	background-color:#0060C6;
}
.theme-color, .selected{
	color:#0060C6 !important;
	text-decoration: none !important;
}
.grey-bg-color {
	background-color:#f9f9f9;
}
.xbox-content{
	min-height: 600px;
}
.xbox-empty-text{
	color: #999999;
	font-size: 20px;
}
.xbox-content-header {
	height:130px;
	line-height: 130px;
}

.xbox-tab{
	height:70px;
	line-height: 70px;
}
.xbox-tab-item {
	width: 120px;
	height: 70px;
	padding: 18px 0 0 0;
	font-size: 18px;
	color: #b1b1b1;
}
.xbox-tab-item p{
	line-height: 50px;
}
.xbox-tab-item >hr{
	margin: 0;
	border-width: 2px;
	display: none;
}
.xbox-tab-selected > hr,
.xbox-tab-selected > p{
	border-color: #0060c6;
	color: #0060c6;
	display: block;
}

.xbox-content-body-none{
	height : 500px;
}

.xbox-content-header .col-sm-6{
	padding: 0;
}

.xbox-content-header .row{
	margin: 0;
}
.xbox-content-header .xbox-btn{
	line-height: 46px;
}

.xbox-content-title {
	font-size: 24px
}
.xbox-mid-container {
	border: none;
	margin: auto;
	max-width: 1000px;
	padding:0;
}
/*
.xbox-mid-container a{
	color: #ffffff;
}
*/
.xbox-logo {
	color: #ffffff ;
	font-size: 30px;
	padding: 0;
}
.xbox-logo > img{
	margin-top: -4px;
}


.xbox-logo > a{
	margin-left: 3px;
}

.xbox-jumbotron-with-bg {
	background:url("../img/welcome_bg.png") center center no-repeat;
	background-color:#0060C6;
	margin-bottom: 0;
}

.features-bg{
	background:url("../img/city_bg.jpg") center bottom no-repeat;
	height: 400px;
}

.jumbotron  .container {
	max-width: 60%;
	margin: auto;
	padding: 0px;
	height: 660px;
}

.jumbotron h2{
	text-align: center;
	color: white;
	font-size: 110px;
	line-height: 110px;
}
.jumbotron p{
	text-align: center;
	color: #5fd7fa;
	font-size: 30px;
	margin-top:90px;
}

.xbox-steps h2{
	font-size: 18px;
	font-color: #000;
}
.xbox-steps p {
	font-size: 14px;
	color: #666666;
	line-height: 0;
}
.xbox-steps {
	padding: 0;
}
.xbox-steps > .row{
	margin: 0 -60px 0 -60px;
}

.xbox-steps-more{
	margin-top: 50px;
	margin-bottom: 60px;
	font-size: 18px;
	color: #b1b1b1;
}


.xbox-btn {
	color:white;
	font-size: 16px;
	padding: 15px 30px;
	text-align: center;
	border-radius: 0;
}

.xbox-btn-primary {
	background-color:#0060C6;
	padding: 15px, 30px, 15px,30px;
	font-size: 16px;
	color: #ffffff;
	height: 46px;
	line-height: 46px;
}

.xbox-btn-orange {
	background-color:#FF6600;
	font-size: 28px;
}

.short-hr {
	width: 70px;
	margin: 20px auto;
}
.tipsy-hr {
	align: center;
}

.footer-text a{
	color: #0b0b0b;
	text-decoration: none
}
.a-muted{
	color: #999999 !important;
	text-decoration: none;
}
.xbox-footer {
	background-color: #F6F5F5;
	padding-top: 30px;
	padding-bottom: 60px;
	margin-top: 30px;
	font-size: 14px;
	color: #0b0b0b;
	line-height: 22px;
}

#xbox-enter {
	margin-top: 60px;
	width: 316px;
}

#xbox-enter-text{
	margin-top: 28px;
	font-size: 16px;
	color: #666666;
	margin-bottom: 70px;
}

.xbox-col {
	margin-left: 20px;
	margin-right: 20px;
}
.xbox-col-first {
	margin-left: -15px;
}
.xbox-col-last {
	margin-right: -15px;
}

.xbox-col h2{
	font-size: 2em;
}
.xbox-tipsy a{
	color: #000 !important;
	padding-left: 60px !important;
	padding-right: 60px !important;
}
.xbox-tipsy span{
	margin-right: 20px;
	margin-left: -32px;
}

.xbox-app-sicon{
	width: 30px;
	height: 30px;
	margin-right: 40px;
	border: 1px solid #e1e1e1;
	border-radius: 5px
}

.xbox-app-licon{
	width: 120px;
	height: 120px;
	border: 1px solid #e1e1e1;
	border-radius: 5px
}

.xbox-app-android{
	background:url("../img/app_android.png") left center no-repeat;
	display: block;
	height: 70px;
}
.xbox-app-ios{
	background:url("../img/app_ios.png") left center no-repeat;
	display: block;
	height: 70px;

}
.xbox-half-cell-top{
	margin-top: 14px;
	margin-bottom: 0;
	vertical-align: bottom;
	font-size: 14px;
	line-height: 14px;
}
.xbox-half-cell-bottom{
	margin-top: 14px;
	vertical-align: top;
	font-size: 14px;
	line-height: 14px;
}
.xbox-table td>div{
	margin-left:18px
}
.table > tbody > tr > td {
	border-bottom: 1px solid #eaeaea;
	line-height : 70px;
	padding: 0;
}

.table > thead > tr > th {
	border-bottom: 1px solid #eaeaea;
	padding-bottom: 0;
	padding-top: 0;
	line-height: 70px;
}


.xbox-table >thead>tr > th > div > p{
	line-height:18px;
	padding-bottom:14px;
	padding-top:38px;
	font-size:18px;
	margin-bottom: 0;
}
.xbox-table >thead>tr > th {
	padding-left: 18px;
}
.xbox-status-pending {
	display: inline-block;
	border-radius: 5px;
	border: 1px solid #e1e1e1;
	background-color: #f1ff00;
	height: 10px;
	width: 10px;
	margin-right: 10px;
}

.xbox-status-on {
	display: inline-block;
	border-radius: 5px;
	border: 1px solid #e1e1e1;
	background-color: #00cd23;
	height: 10px;
	width: 10px;
	margin-right: 10px;
}

.xbox-status-fail {
	display: inline-block;
	border-radius: 5px;
	border: 1px solid #e1e1e1;
	background-color: #ff3000;
	height: 10px;
	width: 10px;
	margin-right: 10px;
}

.xbox-status-off {
	display: inline-block;
	border-radius: 5px;
	border: 1px solid #e1e1e1;
	background-color: #b1b1b1;
	height: 10px;
	width: 10px;
	margin-right: 10px;
}
.xbox-span-add {
	background:url("../img/span_add.png") center center no-repeat;
	height: 20px;
	width: 20px;
	display: inline-block;
	margin-right: 14px;
	margin-bottom: -4px;

}
table td, table th{
	color: #000;
}

.xbox-app-info > p{
	font-size: 14px;
	color: #333333;
	margin-left : -30px;
	margin-bottom: -10px;

}
.xbox-app-info > h4{
	font-size: 20px;
	color: #000;
	margin-bottom: 0;
	margin-left : -30px;
}
.xbox-app-info {
	font-size: 16px;
	color: #0060c6;
}
.xbox-app-desc{
	margin-bottom: 42px;
}
.xbox-app-doc{
	margin-bottom: 24px;
}
.xbox-app-doc a{
	margin-right: 50px;
}
.xbox-app-text {
	padding-left: 0;
}
.xbox-app-text > h4{
	font-size: 18px;
	margin-top: 0;
	margin-bottom: 12px;
}
.xbox-app-text > p{
	font-size: 14px;
	color: #333333;
}

.xbox-a{
	color: #0060c6;
}
.xbox-app-action a:nth-of-type(1){
	margin-right: 30px;
}
.hr-fold {
	margin-top: 0;
	margin-bottom: 0;
	border-color: #f1f1f1;
}
.info-fold{
	background: url("../img/fold.png") center center no-repeat;
	display: block;
	height: 16px;
}

.info-fold:active{
	background: url("../img/fold_active.png") center center no-repeat;
	display: block;
	height: 16px;
}
.info-expand{
	background: url("../img/expand.png") center center no-repeat;
	display: block;
	height: 16px;
}
.info-expand:active{
	background: url("../img/expand_active.png") center center no-repeat;
	display: block;
	height: 16px;
}

.xbox-review-detail{
	padding:0;
}
/*15 + 16 + 15*/
.xbox-review-detail .row{
	margin: 0px;
}
.xbox-review-detail h4{
	font-size: 20px;
	line-height: 20px;
	margin-top: 50px;
	margin-bottom: 15px;
}

.xbox-review-detail label{
	width: 220px;
	padding:0;
	margin: 15px 0;
	font-size: 16px;
	font-weight: normal;
	line-height: 16px;
}
.xbox-review-detail-text{
	padding: 6px 0 0 0;
}

.xbox-review-detail p{
	margin: auto;
	padding:10px 0 10px 20px;
	font-size: 14px;
	line-height: 14px;
}
.xbox-review-detail p a{
	text-decoration: underline !important;
	line-height: 14px;
}

.xbox-review-detail p em{
	font-size: 20px;
	font-weight: normal;
	font-style: normal;
}

.xbox-review-detail p em[class="review-pass"]{
	color: #00ce23;
}
/*TODO
 * should add other result
 */

.xbox-review-result {
	padding-top: 10px !important;
}

.xbox-review-timeline {
	padding: 50px 0 0 0;
	min-height: 600px;
	width: 230px;
}

/*time line icon*/
.timeline-icon {
	display: block;
	height: 30px;
}
.timeline-vr {
	width:1px;
	border-left:1px solid #000;
	min-height:600px;
	margin: 50px 0 0 0;
	border-color: #dddddd;
	padding:0;
}
.timeline-item {
	line-height: 30px;
	font-size: 16px;
	margin: 0;
}
.timeline-item > p{
	padding: 0 0 0 10px;
}

.timeline-line {
	display:block;
	height: 56px;
	margin-left: 14px;
	background:url("../img/rev_line.png") left center no-repeat;
}
.timeline-blue {
	background:url("../img/rev_blue.png") left center no-repeat;
}
.timeline-blue-active {
	background:url("../img/rev_blue_active.png") left center no-repeat;
}
.timeline-green {
	background:url("../img/rev_green.png") left center no-repeat;
}
.timeline-green-active {
	background:url("../img/rev_green_active.png") left center no-repeat;
}
.timeline-grey {
	background:url("../img/rev_grey.png") left center no-repeat;
}
.timeline-grey-active {
	background:url("../img/rev_grey_active.png") left center no-repeat;
}
.timeline-red {
	background:url("../img/rev_red.png") left center no-repeat;
}
.timeline-red-active {
	background:url("../img/rev_red_active.png") left center no-repeat;
}


@media  (min-width: 768px) {
    div.col-sm-7.five-three {
    width: 60% !important;
    }

    div.col-sm-5.five-two {
    width: 40% !important;
    }
}
