#_xbox-status-msg{
	position: fixed;
	top: 30px;
	font-size: 16px;
	color: #000;
	width: 100%;
	height: 30px;
	text-align: center;
	padding-bottom: 7px;
	vertical-align: middle;
}
#_xbox-status-msg > a{
	font-size: 14px;
	text-decoration: underline;
	color: #0060c6;
	margin-left: 14px;
}
#_xbox-status-msg.pass > span{
	display:inline-block;
	background: url("../img/status_pass.png") center center no-repeat;
	margin: 0 6px 0 0;
	position:relative;
	top: 8px;
	width: 29px;
	height: 28px;
}
